[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cmcrameri = ">=1.9"
datasets = ">=4.2.0"
hydra-core = ">=1.3.2"
ipykernel = "*"
matplotlib = ">=3.10"
nnsight = ">=0.5.9"
numpy = ">=2.3"
pandas = ">=2.3"
polars = ">=1.33"
pytest = "*"
scikit-learn = "==1.7.2"
scipy = "*"
spacy = "*"
omegaconf = "*"
torch = "==2.4.1"
tqdm = "*"
transformers = "==4.57.1"
bitsandbytes = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
