# @package prompt
type: without_roles_count
version: 1.0
engine: jinja2  # Engine to format the templates


# Variable definitions with defaults and validation
# variables:
#   role:
#     type: str
#     required: false
#     description: "Agent's role in the network"
#   statement:
#     type: str
#     required: true
#     description: "Statement being evaluated"
#   neighbors:
#     type: list
#     required: false
#     description: "Neighbor belief states"

template:
  system: |
    You are {% if role[0]|lower in 'aeiou' %}an{% else %}a{% endif %} {{ role }} in a social discussion network. 
    You may receive short summaries of what your friends believe. 
    Based on this information and your own knowledge, {% if probe == 'zeroshot' %} reply with the number corresponding to the option you believe is correct. {% else %} restate the statement in a way that you believe is correct. {% endif %}
  
  user:
    intro: |
      Your friends are discussing the following statement: {{ statement }}
    
    agree: |
      {% if n > 1 %}{{ n }} of your friends agree{% else %}{{ n }} friend agrees{% endif %} with this statement.
    
    disagree: |
      {% if n > 1 %}{{ n }} of your friends disagree{% else %}{{ n }} friend disagrees{% endif %} with this statement.
    
    neutral: |
      {% if n > 1 %}{{ n }} of your friends are{% else %}{{ n }} friend is{% endif %} unsure about this statement.

    instruction: |
      {% if probe == 'zeroshot' %}
      Is the following statement correct? {{ statement }}
      
      Select one of the following options:
       1. The statement is correct
       2. The statement is incorrect
       3. I do not have sufficient knowledge about the statement
       4. The statement is too ambiguous to provide a reliable answer
       5. All of the above options are correct
       6. None of the above options are applicable
      {% else %}
      Restate this statement in a way you believe is correct.
      {% endif %}
  agent: |
    {% if probe == 'zeroshot' %}
    The final answer is number " 
    {% else %}
    {% endif %}
# " at the end, forces model to respond with a number only

aggregation: 
  method: count
